<div class="row">
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">

                    <span class="d-block text-gray">
                    <a href="/all-retailers">

                        All Retailers
                    </a>
                    </span>
                    <h5 class="m-0">
                        234
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                   
                  
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                       0-5
                    </span>
                    <h5 class="m-0">
                        0
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                 
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        6-10
                    </span>
                    <h5 class="m-0">
                        1
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                    
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        11-15
                    </span>
                    <h5 class="m-0">
                       0
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                  
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        16-25
                    </span>
                    <h5 class="m-0">
                       0
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                  
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                    <span class="d-block text-gray">
                        26+
                    </span>
                    <h5 class="m-0">
                       0
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                  
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-sm-2">
        <mat-card
            class="trinta-card stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="title">
                   
                    <h5 class="m-0">
                     120
                    </h5>
                </div>
                <div class="info d-flex justify-content-center align-items-center">
                  
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>