 <mat-card class="trinta-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
             
                Hello Support User!
            </h5>
        </mat-card-title>
    </mat-card-header>
</mat-card>                                                     

<div class="row">
    <div class="col-xxxl-2 col-sm-6 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="layers"></i-feather>
                </div>
                <span class="d-block text-gray">
                <a href="/all-retailers">  Retailers
                </a> 
                </span>
                <!-- <h5>
                    4,258
                </h5> -->
           
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="pie-chart"></i-feather>
                </div>
                <span class="d-block text-gray">
                   Deals
                </span>
                <!-- <h5>
                    58
                </h5> -->
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="pie-chart"></i-feather>
                </div>
                <span class="d-block text-gray">
              Payments
                </span>
                <!-- <h5>
                    58
                </h5> -->
                
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="clock"></i-feather>
                </div>
                <span class="d-block text-gray">
                     Activation
                </span>
                <!-- <h5>
                    271h 30m
                </h5> -->
             
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-2 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="user"></i-feather>
                </div>
                <span class="d-block text-gray">
                   Tasks
                </span>
                <!-- <h5>
                    142
                </h5> -->
           
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxxl-2 col-sm-6 col-md-3">
        <mat-card
            class="trinta-card pm-stat-card mb-25 bg-white border-none d-block text-center"
        >
            <mat-card-content>
                <div class="icon d-flex align-items-center justify-content-center ml-auto mr-auto">
                    <i-feather name="alert-circle"></i-feather>
                </div>
                <span class="d-block text-gray">
                   Self Report
                </span>
         
                <!-- <div class="info d-flex align-items-center justify-content-between">
                    <span class="d-block text-body">
                        Incomplete
                    </span>
                    <span class="trending d-block text-body position-relative">
                        4.70% <i class="material-symbols-outlined">trending_up</i>
                    </span>
                </div> -->
            </mat-card-content>
        </mat-card>
    </div>
    
</div>
